

h1,
h2 {
    font-weight: 600;
 
}

h1{
   font-size: 30px;
}
h2{
font-size: 20px;
}

label{
font-weight: 300;
}

button {
    font-weight: 600;
}

.get,
.delete {
    margin: 15px 0 0 15px;
}

.save {
    margin: 15px 0px;
}

table {
    margin-top: 20px;
}
